* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    /* criando base gradiente, onde será usado as cores para baixo, pegando como base as cores do instagram */
    background: linear-gradient(to bottom, #d139ca, #f79b70);
    height: 100vh;
}

h4, label {
    color: white;
}

.logoinstagram {
    padding: 15px;
}

.logoinstagram img {
    border-radius: 50px;
    width: 60px;
    float: left;
    margin-right: 15px;
}

/* configuração para painel de perguntas onde ficará apenas o elemento */

.Perguntas {
    background-color: white;
    margin: 50px;
    text-align: center;
    border-radius: 15px;
}

/* configuração para painel de perguntas onde ficará a pergunta completa */

.textoperguntas {
    background: linear-gradient(to right, #d139ca, #f40004);
    border-radius: 15px 15px 0px 0px;
    color: white;
    font-size: 18px;
}

.Perguntas h3 {
    background: -webkit-linear-gradient(left, #d139ca, #f40004);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 20px;
    font-size: 24px;
}
.Responder{
    position:absolute;
    bottom:0;
    text-align: center;
    width: 100%;
    padding-bottom: 30px;
}